.vs/
*.suo
*.user
*.vcxproj.user
*.db
*.opendb

*.pdf

bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

*.csproj.user
*.csproj.user.json
*.sln.cache
*.sln.ide

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
vs/

# Rider
idea/

# Visual Studio Code
vscode/

# .NET Core
project.lock.json
artifacts/
**/Properties/launchSettings.json

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Others
node_modules/
typings/